@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.9s ease-out;
}


/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #0f766e;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: dropdownFade 0.18s ease-out;
}
.form-label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input-style {
  @apply w-full bg-[#fdf8f6] border border-gray-300 
  rounded-lg px-4 py-3 text-sm 
  focus:outline-none focus:ring-1 focus:ring-[#8c2b17]
  focus:border-[#8c2b17]
  transition duration-200;
}